<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJF5TVNKMY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QJF5TVNKMY');
</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>
<meta property="og:title" content="Stephanie A. Wilkinson" />
<meta property="og:type" content="website" />
<meta property="og:image" content="relative_url 'images/headshot.jpg'" />

<meta name="description" content="<%= metadata.description %>" />

<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script src="<%= webpack_path :js %>" defer></script>
<script src="https://cdn.tailwindcss.com"></script>
<%= live_reload_dev_js %>
