<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QJF5TVNKMY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QJF5TVNKMY');
</script>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>

<!-- HTML Meta Tags -->
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>
<meta name="description" content="<%= metadata.description %>" />

<!-- OpenGraph Meta Tags -->
<meta property="og:url" content="https://stephanieawilkinson.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Stephanie Wilkinson | Portfolio, posts and projects">
<meta property="og:description" content="Stephanie Wilkinson leads engineering teams to create game-changing apps for schools.">
<meta property="og:image" content="https://stephanieawilkinson.com/images/headshot.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="stephanieawilkinson.com">
<meta property="twitter:url" content="https://stephanieawilkinson.com">
<meta name="twitter:title" content="Stephanie Wilkinson | Portfolio, posts and projects">
<meta name="twitter:description" content="Stephanie Wilkinson leads engineering teams to create game-changing apps for schools.">
<meta name="twitter:image" content="https://stephanieawilkinson.com/images/headshot.jpg">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script src="<%= webpack_path :js %>" defer></script>
<script src="https://cdn.tailwindcss.com"></script>
<%= live_reload_dev_js %>
